.gallery-desc {
    margin-top: 12svh;
    color: gray;
    z-index: 2;
    padding-inline: 10px;
    text-align: center;
}
#zdeno-gallery {
    z-index: 9;
    // padding-top: 5rem;
}

.hero-grid-gallery {
    // width: 100%;
    min-height: calc(100svh - 65px);
    // background-color: grey;
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
